.box-container {
  position: relative;
  width: 100%;
  min-height: 48px;
  max-height: 48px;
  // background-color: black;
  border-radius: 16px;
  overflow-y: hidden;

  > .box-motion {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: black;
    // background-image: none;
    // background-image: linear-gradient(180deg, black, black);
    width: 100%;
    min-height: 200%;
    max-height: 200%;

    > .upper-box {
      flex: 1;
    }

    > .lower-box {
      flex: 1;
    }
  }
}