.project-container {
  margin-top: 96px;

  .back-button {
    color: black;

    :hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .project-header {
    margin-top: 1em;
    color: black;

    .project-header-title {
      
    }

    .project-header-desc {

    }
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;

    > div {
      flex: 0 0 calc(33.33% - 10.66px);
      min-height: 192px;
      margin-bottom: 16px;
    }

    > :nth-child(3n + 1) {
      margin-right: 8px;
    }

    > :nth-child(3n + 2) {
      margin-left: 8px;
      margin-right: 8px;
    }

    > :nth-child(3n) {
      margin-left: 8px;
    }
  }
}