@import "Static/colors.scss";

.hobby-box-container {
  position: relative;
  width: 100%;
  min-height: 96px;
  max-height: 96px;
  // background-color: $color4;
  border-radius: 16px;
  overflow-y: hidden;

  > .hobby-box-motion {
    display: flex;
    position: absolute;
    // background-image: none;
    // background-image: linear-gradient(180deg, black, black);
    width: 100%;
    min-height: 200%;
    max-height: 200%;

    :hover {
      cursor: pointer;
    }

    > .hobby-inner-container {
      display: flex;
      position: relative;
      flex-direction: column;
      // background-color: black;
      color: white;
      width: 100%;
      min-height: 100%;
      max-height: 100%;

      > .hobby-background-image {
        filter: brightness(50%);
        // background-color: $color4;

        > img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          // height: 100%;
        }
      }

      > .hobby-inner-body {
        display: flex;
        position: absolute;
        flex-direction: column;
        // background-color: black;
        color: white;
        width: 100%;
        min-height: 100%;
        max-height: 100%;

        > .hobby-upper-box {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        > .hobby-lower-box {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          padding: 0 32px;
        }
      }
    }
  }
}
