@import "Static/colors.scss";

.hobby-container {
  margin-top: 96px;

  .back-button {
    color: $color4;

    :hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .hobby-header {
    margin-top: 1em;
    color: $color4;

    .hobby-header-title {
      
    }
  }

  .hobby-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;

    > div:not(:first-child) {
      margin-top: 2em;
    }
  }
}