.chat-layout {
  display: flex;

  > .empty-space {
    flex: 3;

    > .icons-container {
      display: flex;
      justify-content: flex-end;

      :hover {
        cursor: pointer;
        opacity: 0.5;
      }
      
      > .icon {
        margin: 8px;
      }
    }
  }

  > .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 4;
    // border: 1px solid lightgrey;
    min-height: 100vh;
    padding: 1em 0;
  }
}
