.project-layout {
  display: flex;
  flex-direction: column;

  > .project-body {
    display: flex;
    flex: 1;

    > .empty-space {
      flex: 2;

      > .icons-container {
        display: flex;
        justify-content: flex-end;

        :hover {
          cursor: pointer;
          opacity: 0.5;
        }
        
        > .icon {
          margin: 8px;
        }
      }
    }

    > .project {
      flex: 6;
      // border: 1px solid lightgrey;
      min-height: 100vh;
    }
  }

  > .project-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 192px;
    background-color: black;
    color: white;
  }
}
